<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="MongoDBQueries" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/mongodb-queries.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %-5level [%t] %C{1}: %msg%n%throwable</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/mongodb-queries-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="SQLQueries" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/sql-queries.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %-5level [%t] %C{1}: %msg%n%throwable</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/sql-queries-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Logger for MongoDB queries -->
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="DEBUG" additivity="false">
        <appender-ref ref="MongoDBQueries" />
        <appender-ref ref="Console" />
    </logger>

    <!-- Logger for SQL queries -->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="SQLQueries" />
        <appender-ref ref="Console" />
    </logger>

    <!-- P6Spy logging -->
    <logger name="p6spy" level="INFO" additivity="false">
        <appender-ref ref="SQLQueries" />
        <appender-ref ref="Console" />
    </logger>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
</configuration>
